h1 {
    background-color: black;
    color: skyblue;
    font-size: 30px;
    text-align: center;
    padding: 20px 20px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}